*{
    margin: 0px;
    padding: 0px;
    font-family: 'Rajdhani', sans-serif;
    box-sizing: border-box;
}
.hero{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../images/frank-mckenna-JB92NeJSxW4-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}
.logo{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
}
span{
    color: #ea1538;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 30px;
}
nav ul li a{
    text-decoration: none;
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
    transition: 777ms all;
    -webkit-transition: 777ms all;
    -moz-transition: 777ms all;
    -ms-transition: 777ms all;
    -o-transition: 777ms all;
}
nav ul li a:hover{
    color: #ea1538;
}
button{
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 30px;
    padding: 12px 30px;
    background-color: #ea1538;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: 777ms all;
    -webkit-transition: 777ms all;
    -moz-transition: 777ms all;
    -ms-transition: 777ms all;
    -o-transition: 777ms all;
}
button:hover{
    transform: scale(1.3);
    cursor: pointer;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}